<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
		http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd">

	<!-- 加载配置文件 -->
	<context:property-placeholder location="classpath:conf/*.properties" />
	
	<context:component-scan base-package="xyz.pigschool.sso.controller" />
	<mvc:annotation-driven />
	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/jsp/" />
		<property name="suffix" value=".jsp" />
	</bean>
	<!-- 配置资源映射 -->
	<mvc:resources location="/css/" mapping="/css/**"/>
	<mvc:resources location="/js/" mapping="/js/**"/>
	<mvc:resources location="/fonts/" mapping="/fonts/**"/>
	<mvc:resources location="/images/" mapping="/images/**"/>
	<!-- 引用dubbo服务 -->
	<dubbo:application name="xyz-sso-web"/>
	<dubbo:registry protocol="zookeeper" address="47.95.196.58:2181"/>	
	<!-- <dubbo:reference interface="xyz.pigschool.service.ItemCatService" id="itemCatService" />
	<dubbo:reference interface="xyz.pigschool.service.ItemService" id="itemService" />
	<dubbo:reference interface="xyz.pigschool.content.service.ContentCatService" id="contentCatService" />
	<dubbo:reference interface="xyz.pigschool.content.service.ContentService" id="contentService" /> -->
</beans>