<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="xyz.pigschool.service.mapper.ManagerMessageMapper" >
	<!-- public List<Map<String,Object>> selectAll(); -->
	<select id="selectAll" resultType="map">
		SELECT m.id ,u.id uid,u.`name`,u.nick,m.message,m.created
		FROM xyz_manager_message m,xyz_manager_user u
		WHERE u.id = m.uid
		ORDER BY m.created DESC
	</select>
	
	<!-- public Map<String,Object> selectById(int id); -->
	<select id="selectById" resultType="map">
		SELECT m.id ,u.id uid,u.`name`,u.nick,m.message,m.created
		FROM xyz_manager_message m,xyz_manager_user u
		WHERE u.id = m.uid AND u.id = #{id}
	</select>
</mapper>